*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(/assets/img/cardboard-bg.jpg);
    background-size: cover;    
}
.header{
    margin: 2rem 0;
    text-align: center;
}
.header__title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: #383838 1px 1px 10px;
}
.new-note{
    display: flex;
    justify-content: center; 
}

.new-note__container{
    display: flex;
    flex-direction: column;
    background: #f1f0ae;
    box-shadow: #383838 1px 1px 10px;
}

.new-note__input-title{
    outline: none;
    border: none;
    border-bottom: 2px solid #ffff;
    height: 2rem;
    padding: .5rem;
    background: #f1f0ae;
    font-size: 1.125rem;
}

.new-note__input-text{
    outline: none;
    border: none;
    border-bottom: 2px solid #ffff;
    padding: .5rem;
    background: #f1f0ae;
    font-size: 1.125rem;
}

.new-note__add-button{
    font-size: 1.125rem;

    border-radius: 3px;
    color: #fff;
    height: 2rem;
    border: none;
    background: #99986a;
}

.new-note__add-button:active{
    background: #797855;
}
.new-note__add-button:hover{
    cursor: pointer;
    background: #616040;
}

.new-note__delete-all{
    margin-top: 0.5rem;
    font-size: 1.125rem;
    border-radius: 3px;
    color: #fff;
    height: 2rem;
    border: none;
    background: #de1313;
}

.new-note__delete-all:hover{
    cursor: pointer;
    background: #9e1f1f;
}

.noteboard{
    display: flex;
}

.noteboard__note{
    box-shadow: #383838 1px 1px 10px;
    padding: .5rem;
    margin: 1rem;
    width: 12vw;
    background: #f3f02b;
}

.noteboard__pin-img{
    margin: 0 6rem;
    width: 3rem;
    
}

.noteboard__note-title{
    margin-bottom: 1rem;
    text-align: center;
}

.noteboard__note-content{
    margin-bottom: 1rem;
}

.noteboard__delete{
    padding: .5rem;
}

.noteboard__delete:hover{
    border-radius: 5px;
    background: #dad74c;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .noteboard__note{
        width: 50vw;
    }
    .noteboard{
        justify-content: center;
        flex-wrap: wrap;
    }
    .noteboard__pin-img{
        margin: 0 5rem;
        width: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .noteboard__note{
        width: 30vw;
    }

    .noteboard{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .noteboard__pin-img{
        margin: 0 5rem;
        width: 2rem;
    }
}