
button{
    background: transparent;
    border: none;
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: roboto, sans-serif;
    background: url(/assets/img/cardboard-bg.jpg);
    background-repeat: repeat;
}
.header{
    margin: .75rem 0;
    text-align: center;
}
.header__title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: #383838 1px 1px 10px;
}
.new-note{
    display: flex;
    justify-content: center; 
    height: 18rem;
}

.new-note__add-button{
    font-size: 1.125rem;
    border-radius: 3px;
    color: #fff;
    height: 2.5rem;
    border: none;
    background: #99986a;
}

.new-note__add-button:active{
    background: #797855;
}
.new-note__add-button:hover{
    cursor: pointer;
    background: #616040;
}

.new-note__container{
    display: flex;
    flex-direction: column;
    background: #f1f0ae;
    box-shadow: #383838 1px 1px 10px;
}

.new-note__input-title{
    outline: none;
    border: none;
    border-bottom: 2px solid #ffff;
    height: 1.5rem;
    padding: .5rem;
    background: #f1f0ae;
    font-size: 1.125rem;
}

.new-note__input-text{
    outline: none;
    border: none;
    border-bottom: 2px solid #ffff;
    padding: .5rem;
    background: #f1f0ae;
    font-size: 1.125rem;
}

.new-note__color-btns-container{
    display: flex;
    justify-content: space-around;
    padding: .25rem 0;
}

.new-note__color-btn{
    color: #fff;
    border-radius: 1rem;
    width: 3rem;
    padding: 0.125rem;
    border: 1px solid black;
}
.new-note__color-btn:hover{
    cursor: pointer;
    background: #585858;
}
.new-note__color-btn:active{
    background: #353535;
}
.btn-red{
    background: red;
}
.btn-green{
    background: green;
}
.btn-blue{
    background-color: blue;
}

.new-note__delete-all{
    margin-top: 0.5rem;
    font-size: 1.125rem;
    border-radius: 3px;
    color: #fff;
    height: 2.5rem;
    border: none;
    background: #de1313;
}

.new-note__delete-all:hover{
    cursor: pointer;
    background: #9e1f1f;
}

.noteboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15vh;
}

.noteboard__note{
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: #383838 1px 1px 10px;
    padding: .5rem;
    margin: 1rem;
    width: 15rem;
    background: #f3f02b;
}

.note-red{
    color: #fff;
    background: rgb(255, 98, 98);
}

.note-green{
    color: #fff;
    background: rgb(58, 170, 58);
}

.note-blue{
    color: #fff;
    background: rgb(62, 138, 253);
}

.noteboard__pin-img{
    margin: 0 auto;
    width: 2.75rem;
}

.noteboard__note-title{
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.noteboard__note-content{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.noteboard__delete{
    padding: .5rem;
    margin: 0 auto;
    width: 2rem;
}

.noteboard__delete:hover{
    border-radius: 5px;
    background: rgba(0, 0, 0, .25);
    cursor: pointer;
}

.footer {
    background: #383838;
}
.footer__container{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.footer__h3{
    color: #fff;
    margin: auto 2rem;
}
.footer__enlace{
    color: #fff;
    text-decoration: none;
    margin: auto 2rem;
}
.footer__enlace:hover{
    text-decoration: underline;
    font-weight: bold;
}


@media screen and (max-width: 450px) {
    .header{
        margin: .25rem 0;
        text-align: center;
    }
    .header__title-img{
        width: 100vw;
    }
    .new-note__input-title{
        height: 1.75rem;
        padding: .5rem;
        font-size: 1rem;
    }
    
    .new-note__input-text{
        padding: .5rem;
        font-size: 1rem;
        height: 10rem;
    }
    
    .new-note__add-button{
        font-size: 1.125rem;
        border-radius: 3px;
        height: 2rem;
    }
    .noteboard__pin-img{
        margin: 0 auto;
        width: 2.5rem;
    }
    .footer{
        text-align: center;
    }
    .footer__container{
        flex-direction: column;
        height: 8vh;
    }

}